body {
  font-family: "Quattrocento Sans", sans-serif;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.flex-row-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}
h1 {
  font-size: 40px;
}
